.title {
  font-size: 32px;
  line-height: 41px;
  font-weight: 700;
}

.subtitle {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.subtitle1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
}

.subtitle2 {
  font-size: 18px;
  line-height: 23px;
}

.p1 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.p2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.strong2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.caption {
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
}

.extraSmall {
  font-size: 8px;
  line-height: 11px;
  font-weight: 700;
}


